// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scrollPadding);
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
// Variables
:root {
	--primaryColor: #3666d6;
	--primaryColorHovered: #5685f7;
	--textColor: #394263;
	--whiteColor: #fff;
	--whiteColorHovered: #eeeded;
	--scrollPadding: 140px;
}

// Global Styles
section {
	padding: 70px 0;
	@media (width <= 992px) {
		padding: 40px 0;
	}
}
.container {
	max-width: 1366px;
	margin: 0 auto;
	width: 100%;
	padding: 0 16px;
}
p {
	color: var(--textColor);
	line-height: 140%;
	@media (width <= 768px) {
		font-size: 14px;
	}
}
.section__title {
	color: var(--textColor);
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	span {
		display: block;
		color: var(--primaryColor);
	}
	@media (width <= 1200px) {
		font-size: 46px;
		line-height: 1.3;
	}
	@media (width <= 768px) {
		font-size: 34px;
	}
}
.btn {
	padding: 20px 32px;
	text-align: center;
	justify-content: center;
	background: var(--primaryColor);
	color: var(--whiteColor);
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 30px;
	max-width: fit-content;
	transition: background 0.3s;
	color: var(--whiteColor);
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	@media (width <= 768px) {
		padding: 16px 24px;
		font-size: 16px;
	}
	&:hover {
		background: var(--primaryColorHovered);
	}
}
.text-center {
	text-align: center;
}
.hero__vector {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	width: 100%;
	height: auto;
	z-index: -10;
}
// Banner
.section {
	// .section__banner
	&__banner {
		background-color: var(--primaryColor);
		padding: 4px 0;
	}
}
.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	// .banner__phone
	&__phone {
		display: flex;
		align-items: center;
		gap: 10px;
		color: #fff;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		&:hover {
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}

	// .banner__list

	&__list {
		display: flex;
		gap: 12px;
		align-items: center;
	}

	// .banner__link

	&__link {
		display: flex;
		transition: scale 0.3s;
		&:hover {
			scale: 1.2;
		}
	}
}

// Header
header {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 10;
	transition: 0.3s all;

	&.sticky {
		background: var(--whiteColor);
		.logo {
			img {
				max-width: 100px;
				height: auto;
			}
		}
		.header {
			padding: 10px 0;
		}
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.logo {
	transition: 0.3s all;

	img {
		transition: 0.3s all;
		@media (width <= 1199px) {
			width: 120px;
		}
	}
}
.menu {
	display: flex;
	gap: 67px;
	align-items: center;
	z-index: 20;
	&.active {
		display: flex !important;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
		animation: fade 0.1s linear;
		background: var(--primaryColor);
	}
	@media (width <= 1199px) {
		gap: 36px;
	}
	@media (width <= 992px) {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
	}
	// .menu__link
	&__link {
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: var(--textColor);
		transition: color 0.3s;
		position: relative;
		&::after {
			position: absolute;
			bottom: -4px;
			left: 0;
			height: 1px;
			content: "";
			width: 100%;
			background: var(--primaryColor);
			scale: 0;
			transition: scale 0.3s;
		}
		&:hover {
			color: var(--primaryColor);
			&::after {
				scale: 1;
			}
		}
		@media (width <= 992px) {
			font-size: 24px;
			font-weight: 600;
			color: var(--whiteColor);
			path {
				stroke: var(--whiteColor);
			}
		}
	}

	// .menu__link-phone
	&__link-phone {
		display: flex;
		align-items: center;
		gap: 14px;
		padding: 14px 24px;
		border: 1px solid var(--primaryColor);
		border-radius: 100px;
		display: inline-flex;
		transition: all 0.3s;
		@media (width <= 992px) {
			border-color: var(--whiteColor);
		}
		path {
			transition: all 0.3s;
		}
		&:hover {
			background: var(--primaryColor);
			color: var(--whiteColor);
			&::after {
				display: none;
			}
			path {
				stroke: var(--whiteColor);
			}
		}
	}
}
.burger {
	display: none;
	background: transparent;
	z-index: 20;
	border: none;
	@media (width <= 992px) {
		display: flex;
		position: relative;
		height: 20px;
		width: 30px;

		&.active {
			&:before {
				background: var(--whiteColor);
				transform: rotate(45deg);
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
				top: 8px;
			}

			&:after {
				background: var(--whiteColor);
				transform: rotate(-45deg);
				bottom: 10px;
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
			}

			& span {
				transform: scale(0);
			}
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 2px;
			width: 100%;
			background: var(--primaryColor);
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}

		&:before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			position: absolute;
			top: 9px;
			right: 0;
			width: 100%;
			background: var(--primaryColor);
			height: 2px;
			transform: scale(1);
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}
	}
}

// Hero
.section {
	// .section__hero
	&__hero {
		padding-top: 85px;
		@media (width <= 1200px) {
			padding-top: 40px;
		}
		@media (width <= 768px) {
			padding-top: 20px;
		}
		position: relative;
		.hero__img {
			position: absolute;
			right: 200px;
			top: -180px;
			z-index: -10;
			@media (width <= 1450px) {
				max-width: 1000px;
				right: 20px;
			}

			@media (width <= 992px) {
				max-width: 800px;
				right: 0;
				bottom: -100px;
				top: unset;
				opacity: 0.5;
			}
			@media (width <= 768px) {
				max-width: 400px;
			}
		}
	}
}
.hero {
	// .hero__text
	&__text {
		display: grid;
		gap: 20px;
	}
	// .hero__item
	&__item {
		max-width: 700px;
		width: 100%;
		display: grid;
		gap: 40px;
		@media (width <= 1200px) {
			gap: 30px;
		}
		@media (width <= 992px) {
			max-width: 100%;
		}
		@media (width <= 768px) {
			gap: 20px;
		}
	}
}

// About
.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	@media (width <= 992px) {
		display: flex;
		flex-direction: column-reverse;
	}
	// .about__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: start;

		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}

	// .about__text
	&__text {
		display: grid;
		gap: 20px;
	}
}

// Services
.swiper__services {
	overflow: visible;
	.swiper-slide {
		height: auto;
	}
}
.swiper__btns {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 20px;
	justify-content: flex-end;
	margin-bottom: 20px;
	.swiper__btn {
		background: var(--primaryColor);
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		z-index: 5;
		cursor: pointer;
		svg {
			width: 20px;
		}
		@media (width >= 768px) {
			width: 50px;
			height: 50px;
		}
	}
	@media (width >= 1713px) {
		.swiper__btn {
			width: 76px;
			height: 76px;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			border-radius: 18px;
			&:hover {
				background: var(--primaryColorHovered);
			}
			&.swiper-prev {
				left: -50px;
				svg {
					width: 100%;
				}
			}
			&.swiper-next {
				right: -50px;
				svg {
					width: 100%;
				}
			}
		}
	}
}
.services {
	// .services__container
	&__container {
		max-width: 1607px;
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
		position: relative;
		margin-top: 50px;
	}
}
.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	height: 100%;
	// .service__img
	&__img {
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	// .service__title
	&__title {
		color: var(--textColor);
		text-align: center;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%; /* 36.4px */
	}
	// .service__text
	&__text {
		text-align: center;
	}
	&__btn {
		margin-top: auto;
	}
}

// Locations
.section {
	// .section__locations
	&__locations {
		position: relative;
		.locations__vector {
			position: absolute;
			top: -60px;
			right: 0;
			z-index: -10;

			@media (width >= 1920px) {
				max-width: 100%;
				width: 100%;
				height: auto;
			}
			@media (width <= 1200px) {
				max-height: 700px;
			}
			@media (width <= 992px) {
				max-height: 500px;
				top: 20px;
			}
			@media (width <= 768px) {
				max-height: 600px;
				top: -50px;
			}
			@media (width <= 480px) {
				max-height: 500px;
				top: -30px;
			}
			@media (width <= 374px) {
				max-height: 400px;
				top: 0px;
			}
		}
	}
}
.locations {
	// .locations__info
	display: flex;
	align-items: center;
	gap: 86px;
	padding-top: 110px;
	@media (width <= 768px) {
		flex-direction: column;
		gap: 40px;
		padding-top: 0;
	}
	&__info {
		display: flex;
		flex-direction: column;
		max-width: 311px;
		width: 100%;
		gap: 40px;
		@media (width <= 768px) {
			max-width: 100%;
			gap: 20px;
		}
	}

	// .locations__image

	&__image {
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

// Contacts
.section {
	// .section__contacts
	&__contacts {
		@media (width <= 768px) {
			margin-top: 50px;
		}
	}
}
.contacts {
	// .contacts__info
	&__info {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		gap: 44px;
		align-items: center;
		@media (width <= 480px) {
			flex-direction: column;
			gap: 20px;
		}
	}
	// .contacts__link
	&__link {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--textColor);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%; /* 25.6px */
		transition: color 0.3s;
		&:hover {
			color: var(--primaryColor);
		}
	}
}
.form {
	padding: 88px 169px;
	max-width: 1112px;
	margin: 0 auto;
	gap: 34px;
	display: flex;
	flex-direction: column;
	margin-top: 36px;
	position: relative;
	z-index: 6;
	@media (width <= 1200px) {
		padding: 80px;
	}
	@media (width <= 992px) {
		padding: 60px 40px;
		background: #5685f7;
		border-radius: 18px;
	}
	@media (width <= 768px) {
		gap: 20px;
	}

	.form__bg {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -5;
		max-width: 100%;
		width: 100%;
		height: auto;
		@media (width <= 992px) {
			display: none;
		}
	}
	// .form__rows
	&__rows {
		display: flex;
		flex-direction: column;
		gap: 34px;
		@media (width <= 768px) {
			margin-bottom: 6px;
		}
	}
	// .form__row

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 56px;
		@media (width <= 768px) {
			gap: 24px;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .form__text

	&__text {
		color: var(--whiteColor);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%; /* 25.6px */
	}
	// .form__recaptcha
	&__recaptcha {
		display: flex;
		flex-direction: column;
		gap: 12px;
		img {
			max-width: fit-content;
			width: 100%;
			height: auto;
		}
	}
	// .form__checkbox
	&__checkbox {
		display: flex;
		color: var(--whiteColor);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		@media (width <= 768px) {
			font-size: 14px;
		}
		a {
			color: currentColor;
			text-decoration: underline;
		}
		.checkbox__input {
			display: none;

			&:checked + .fake::before {
				opacity: 1;
			}
		}

		.fake {
			height: 29px;
			width: 29px;
			box-sizing: border-box;
			border: 1px solid var(--whiteColor);
			border-radius: 4px;
			display: block;
			margin-right: 23px;
			position: relative;
			flex-shrink: 0;
			margin-top: 6px;
			cursor: pointer;
			@media (width <= 768px) {
				margin-right: 16px;
			}
			&::before {
				content: "";
				position: absolute;
				display: block;
				height: 20px;
				width: 20px;
				background: url("../images/check.svg");
				top: 50%;
				box-sizing: border-box;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				opacity: 0;
				transition: 0.3s all ease;
			}
		}
	}

	// .form__btn

	&__btn {
		background: var(--whiteColor);
		color: var(--primaryColor);
		border: none;
		padding: 20px 72px;
		cursor: pointer;
		@media (width <= 480px) {
			max-width: 100%;
		}
		&:hover {
			background: var(--whiteColorHovered);
		}
	}
}
.input-container {
	position: relative;
	display: flex;
	flex-direction: column;
	.input {
		appearance: none;
		width: 100%;
		font-weight: 500;
		line-height: 160%;
		padding: 0;
		padding-bottom: 8px;
		font-size: 16px;
		color: var(--whiteColor);
		background-color: transparent;
		border: none;
		border-bottom: 1px dashed var(--whiteColor);
		outline: none;

		&:focus {
			border-color: var(--whiteColor); // focus:border-blue-600
		}

		&:focus ~ label,
		&:not(:placeholder-shown) ~ label {
			transform: translateY(-18px) scale(0.75); // move the label up
			color: var(--whiteColor);
			font-size: 14px;
		}
	}
	textarea {
		transition: 1s all;
		max-height: 80px;
		resize: none;

		&:focus ~ label,
		&:not(:placeholder-shown) ~ label {
			transform: scale(0.75); // move the label up
			bottom: unset;
			top: 0;
		}
	}

	label {
		position: absolute;
		left: 0;
		bottom: 14px;
		transform-origin: top left;
		transform: translateY(0) scale(1);
		font-size: 16px;
		color: var(--whiteColor);
		pointer-events: none;
		transition: all 0.3s ease;
		font-weight: 500;
	}
}

// Footer
footer {
	background: var(--textColor);
	padding-top: 153px;
	padding-bottom: 70px;
	margin-top: -150px;
	z-index: -10;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	@media (width <= 800px) {
		flex-direction: column;
	}
	// .footer__logo

	&__logo {
		img {
			@media (width <= 992px) {
				width: 160px;
			}
		}
	}

	// .footer__item

	&__item {
		display: flex;
		flex-direction: column;
		gap: 47px;
		align-items: flex-end;
		@media (width <= 992px) {
			gap: 32px;
		}
		@media (width <= 800px) {
			align-items: center;
		}
	}

	// .footer__menu

	&__menu {
		display: flex;
		gap: 47px;
		flex-wrap: wrap;
		justify-content: center;
		@media (width <= 992px) {
			gap: 20px;
		}
	}

	// .footer__link

	&__link {
		color: var(--whiteColor);
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		position: relative;
		&::after {
			position: absolute;
			bottom: -4px;
			left: 0;
			height: 1px;
			content: "";
			width: 100%;
			background: var(--whiteColor);
			scale: 0;
			transition: scale 0.3s;
		}
		&:hover {
			&::after {
				scale: 1;
			}
		}
		&.privacy__link {
			text-decoration: underline;
			text-underline-offset: 4px;
			color: var(--whiteColorHovered);
			&:after {
				display: none;
			}
		}
	}

	// .footer__text

	&__text {
		color: var(--whiteColor);
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		@media (width <= 800px) {
			text-align: center;
		}
	}
}

// Animation
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
