* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primaryColor: #3666d6;
  --primaryColorHovered: #5685f7;
  --textColor: #394263;
  --whiteColor: #fff;
}

section {
  padding: 70px 0;
}
@media (width <= 992px) {
  section {
    padding: 40px 0;
  }
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

p {
  color: var(--textColor);
  line-height: 140%;
}
@media (width <= 768px) {
  p {
    font-size: 14px;
  }
}

.section__title {
  color: var(--textColor);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.section__title span {
  display: block;
  color: var(--primaryColor);
}
@media (width <= 1200px) {
  .section__title {
    font-size: 46px;
    line-height: 1.3;
  }
}
@media (width <= 768px) {
  .section__title {
    font-size: 34px;
  }
}

.btn {
  padding: 20px 32px;
  background: var(--primaryColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: background 0.3s;
  color: var(--whiteColor);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (width <= 768px) {
  .btn {
    padding: 16px 24px;
    font-size: 16px;
  }
}
.btn:hover {
  background: var(--primaryColorHovered);
}

.hero__vector {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: -10;
}

.section__banner {
  background-color: var(--primaryColor);
  padding: 4px 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.banner__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.banner__list {
  display: flex;
  gap: 12px;
  align-items: center;
}
.banner__link {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

@media (width <= 1199px) {
  .logo img {
    width: 120px;
  }
}

.menu {
  display: flex;
  gap: 67px;
  align-items: center;
  z-index: 20;
}
.menu.active {
  display: flex !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  animation: fade 0.1s linear;
  background: var(--primaryColor);
}
@media (width <= 1199px) {
  .menu {
    gap: 36px;
  }
}
@media (width <= 992px) {
  .menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }
}
.menu__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--textColor);
  transition: color 0.3s;
  position: relative;
}
.menu__link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  content: "";
  width: 100%;
  background: var(--primaryColor);
  scale: 0;
  transition: scale 0.3s;
}
.menu__link:hover {
  color: var(--primaryColor);
}
.menu__link:hover::after {
  scale: 1;
}
@media (width <= 992px) {
  .menu__link {
    font-size: 24px;
    font-weight: 600;
    color: var(--whiteColor);
  }
  .menu__link path {
    stroke: var(--whiteColor);
  }
}
.menu__link-phone {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 24px;
  border: 1px solid var(--primaryColor);
  border-radius: 100px;
  display: inline-flex;
  transition: all 0.3s;
}
@media (width <= 992px) {
  .menu__link-phone {
    border-color: var(--whiteColor);
  }
}
.menu__link-phone path {
  transition: all 0.3s;
}
.menu__link-phone:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.menu__link-phone:hover::after {
  display: none;
}
.menu__link-phone:hover path {
  stroke: var(--whiteColor);
}

.burger {
  display: none;
  background: transparent;
  z-index: 20;
  border: none;
}
@media (width <= 992px) {
  .burger {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }
  .burger.active:before {
    background: var(--whiteColor);
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }
  .burger.active:after {
    background: var(--whiteColor);
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primaryColor);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger:before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: var(--primaryColor);
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

.section__hero {
  padding-top: 85px;
  position: relative;
}
@media (width <= 1200px) {
  .section__hero {
    padding-top: 40px;
  }
}
@media (width <= 768px) {
  .section__hero {
    padding-top: 20px;
  }
}
.section__hero .hero__img {
  position: absolute;
  right: 200px;
  top: -180px;
  z-index: -10;
}
@media (width <= 1450px) {
  .section__hero .hero__img {
    max-width: 1000px;
    right: 20px;
  }
}
@media (width <= 992px) {
  .section__hero .hero__img {
    max-width: 800px;
    right: 0;
    bottom: -100px;
    top: unset;
    opacity: 0.5;
  }
}
@media (width <= 768px) {
  .section__hero .hero__img {
    max-width: 400px;
  }
}

.hero__text {
  display: grid;
  gap: 20px;
}
.hero__item {
  max-width: 700px;
  width: 100%;
  display: grid;
  gap: 40px;
}
@media (width <= 1200px) {
  .hero__item {
    gap: 30px;
  }
}
@media (width <= 992px) {
  .hero__item {
    max-width: 100%;
  }
}
@media (width <= 768px) {
  .hero__item {
    gap: 20px;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media (width <= 992px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
.about__item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.about__text {
  display: grid;
  gap: 20px;
}

.swiper__services {
  overflow: visible;
}
.swiper__services .swiper-slide {
  height: auto;
}

.swiper__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.swiper__btns .swiper__btn {
  background: var(--primaryColor);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 10;
  cursor: pointer;
}
.swiper__btns .swiper__btn svg {
  width: 20px;
}
@media (width >= 768px) {
  .swiper__btns .swiper__btn {
    width: 50px;
    height: 50px;
  }
}
@media (width >= 1713px) {
  .swiper__btns .swiper__btn {
    width: 76px;
    height: 76px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 18px;
  }
  .swiper__btns .swiper__btn:hover {
    background: var(--primaryColorHovered);
  }
  .swiper__btns .swiper__btn.swiper-prev {
    left: -50px;
  }
  .swiper__btns .swiper__btn.swiper-prev svg {
    width: 100%;
  }
  .swiper__btns .swiper__btn.swiper-next {
    right: -50px;
  }
  .swiper__btns .swiper__btn.swiper-next svg {
    width: 100%;
  }
}

.services__container {
  max-width: 1607px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
}
.service__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.service__title {
  color: var(--textColor);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 36.4px */
}
.service__text {
  text-align: center;
}
.service__btn {
  margin-top: auto;
}

.section__locations {
  position: relative;
}
.section__locations .locations__vector {
  position: absolute;
  top: -60px;
  right: 0;
  z-index: -10;
}
@media (width <= 1200px) {
  .section__locations .locations__vector {
    max-height: 700px;
  }
}
@media (width <= 992px) {
  .section__locations .locations__vector {
    max-height: 500px;
    top: 20px;
  }
}
@media (width <= 768px) {
  .section__locations .locations__vector {
    max-height: 600px;
    top: -50px;
  }
}
@media (width <= 480px) {
  .section__locations .locations__vector {
    max-height: 500px;
    top: -30px;
  }
}
@media (width <= 374px) {
  .section__locations .locations__vector {
    max-height: 400px;
    top: 0px;
  }
}

.locations {
  display: flex;
  align-items: center;
  gap: 86px;
  padding-top: 110px;
}
@media (width <= 768px) {
  .locations {
    flex-direction: column;
    gap: 40px;
    padding-top: 0;
  }
}
.locations__info {
  display: flex;
  flex-direction: column;
  max-width: 311px;
  width: 100%;
  gap: 40px;
}
@media (width <= 768px) {
  .locations__info {
    max-width: 100%;
    gap: 20px;
  }
}
.locations__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */